html{
    scroll-behavior: smooth;
}

body{
    background-color: #FCF2D8;
}

header{
    color: #262626;
    font-family: 'Lobster', cursive;
    font-size: 120px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ulLink{
    padding-right: 50px;
    border-right: 4px dashed #fff;
    margin-right: 50px;
    display: inline-block;
}

nav{
    margin-left: -10px;
    padding: 10px;
    width: 100%;
    background-color: #686868;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

.Link{
    font-size: 25px;
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color: #fff;
    transition: color 100ms, font-size 100ms, text-decoration 100ms;
}

.ulLink:first-child{
    padding-left: 50px;
    border-left: 4px dashed #fff;
}

.Link:hover{
    font-size: 30px;
    text-decoration: underline;
}

.Quote{
    padding: 20px;
    color: #262626;
    font-size: 100px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: -10px;
    margin-left: -10px;
    background-color: #F9e5bc;
    text-align: center;
    font-family: 'Righteous', cursive;
}

#OMnie{
    color: #262626;
    font-size: 50px;
    Padding-top: 50px;
    padding-bottom: 100px;
    font-family: 'Righteous', cursive;
    margin-top: -25px;
    margin-right: -10px;
    margin-left: -10px;
    background-color: #dfd0c0;
    text-align: center;
}

.OMnieOpis{
    font-size: 32px;
    max-width: 1000px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

#Kontakt{
    text-align: center;
    background-color: #a9a19b;
    color: #262626;
    font-size: 50px;
    Padding-top: 50px;
    padding-bottom: 100px;
    margin-right: -10px;
    margin-left: -10px;
    font-family: 'Righteous', cursive;
    margin-bottom: -10px;
}

.KontaktInf{
    line-height: 70px;
    font-size: 32px;
}

.top{
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url("img/up.png") no-repeat 0px 0px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    transition: height 100ms, width 100ms;
    display: none;
}

.top:hover{
    width: 70px;
    height: 70px;
}

#Galeria{
    text-align: center;
    background-color: #C2b5a8;
    color: #262626;
    font-size: 50px;
    Padding-top: 20px;
    padding-bottom: 20px;
    margin-right: -10px;
    margin-left: -10px;
    font-family: 'Righteous', cursive;
}

.siema{
    padding-bottom: 25px;
}

.GaleriaZd{
    max-width: 1024px;
    max-height: 576px;
    width: 100%;
    height: auto;
}